html {
	body {
		margin: 0;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		flex-grow: 0;
		background-color: rgb(218, 238, 255);
	}
}

@media screen and (min-width: 320px) {
	.logo {
		position: fixed;
		width: 100vw;
		height: 8vh;
		// aspect-ratio: 100 / 5; //Did not use because it makes the size of the logo very squished as the screen gets smaller
		background-color: rgb(0, 6, 97);
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		flex-shrink: 0;

		.plane {
			width: 80px;
			height: 90%;
		}

		.name {
			width: 200px;
			height: 100%;
		}
	}

	.content {
		margin-top: 8vh;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: space-evenly;
		opacity: 1;

		.box {
			display: grid;
			z-index: 1;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 30% 1fr 1fr 1fr;

			margin-top: 40px;
			width: 40vw;
			height: 20vh;
			background-color: #7cb9e8;
			border-radius: 10px;
			box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.5); // val 1 = horizontal, val 2 = vertical, val 3 = spread
			transition: all ease-in-out 200ms; // When adding this it makes responsiveness look jagged, you can see it transition from one scale to the other
		}

		.box:hover {
			scale: 1.1;
			cursor: pointer;
		}

		.box * {
			display: grid;
			justify-content: center;
			align-content: center;
			margin: 0;
			border-bottom: 2px solid rgb(72, 72, 72);
		}

		.box i {
			display: flex;
			flex-wrap: wrap;
			grid-area: 1 / 1 / 2 / 3;
		}

		.box .callsign {
			font-size: 12px;
			grid-area: 2 / 2 / 3 / 3;
		}

		.box .from {
			grid-area: 2 / 1 / 3 / 2;
			font-size: 12px;
			border-right: 2px solid rgb(72, 72, 72);
		}

		.box .long {
			grid-area: 3 / 1 / 4 / 2;
			font-size: 10px;
			border-right: 2px solid rgb(72, 72, 72);
		}

		.box .lat {
			grid-area: 3 / 2 / 4 / 3;
			font-size: 10px;
		}

		.box .cat {
			display: grid;
			grid-area: 4 / 1 / 5 / 3;
			font-size: 10px;
			border-bottom: none;
		}
	}

	.grid {
		position: fixed;
		margin-top: 13vh;
		display: grid;
		width: 100%;
		height: 88%;
		grid-template-columns: 2rem 1fr 2rem;
		grid-template-rows: 1fr 2rem;

		#my-map {
			display: none;
			grid-area: 1 / 2 / 2 /3;
			opacity: 1;
			z-index: 2;
			border-radius: 12px;
			overflow: hidden;
		}
	}

	//source: https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd
	//author: BrendonKoz
	:root {
		--map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
			saturate(0.3) brightness(0.7);
	}

	@media (prefers-color-scheme: dark) {
		.map-tiles {
			filter: var(--map-tiles-filter, none);
		}
	}
}

@media screen and (min-width: 768px) {
	.content {
		.box {
			width: 30vw;
			height: 20vh;
		}
	}
}

@media screen and (min-width: 1024px) {
	// .content {
	// 	margin-top: 10vh;
	// }
}

@media screen and (min-width: 1280px) {
	.content {
		.box {
			height: 25vh;
		}
	}
}

@media screen and (min-width: 1536px) {
	.content {
		.box {
			height: 30vh;
		}
	}
}
